*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;

  background-color: black;
  background-image: url("img/pexels-photo2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

ul.nav li {
  list-style: none;
  padding: 0 10px 0 0;
  float: left;
  color: black;
  text-decoration: none;
  list-style: none;
}

ul.nav:before,
ul.nav:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul.nav:after {
    clear: both;
}

a.active {
  color: red;
}

#create_company{
  padding: 3vw 15vw 3vw 15vw;
  background-color: white;
}

#create_company label{
  display:block;
}

#create_company input{
  width: 70vw;
  height: 2vw;
  font-size: 1vw;
  margin: 1vw 0;
}

#create_company textarea{
  width: 70vw;
  font-size: 1vw;
  margin: 1vw 0;
}

#company_table{
  width: 100%;
}

#company_table table, th, td {
  border: 1px solid black;
  margin-top: 30px;
  font-size: 100%;
}

#company_table td{
  padding: 1px 10px 1px 10px;
  text-align: center;
}

.cellButton{
  font-size: 10px;
  display: block;
  margin: auto;
}

.cellCount{
  font-weight: bold;
}

.SingleSummaryContainer{
  width: 90%;
  margin: 0 5% 0 5%;
}

.InformationBox td{
  border: 0px solid gray;
  padding: 10px 0 0 10px;
  width: 35%;
  overflow: hidden;
}

.InformationBox{
  float: left;
  display: inline-block;
  width: 30%;
  border: 1px solid gray;
  height: 300px;
  min-width: 250px;
}

.GraphBox{
  position: relative;
  display: inline-block;
  width: 50%;
  height: 300px;
  margin: 0 10px 0 10px;
}

.SummaryFilter{
  width: 90%;
  height: 30px;
  margin: 0 5% 10px 5%;
  border: 1px solid black;
}

.FilterOptionContainer{
  padding: 15px;
  width: 90%;
  height: 200px;
  margin: -9px 5% 10px 5%;
  background-color: lightgray;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.FilterOptionContainer input{
  text-align: center;
}

.FilterOptionContainer select{
  padding-right: 10px;
}

.FilterOptionContainer table, th, td{
  border: none;
  padding: 1px 2px 1px 0
}

#filterSelect{
  margin: 5px 0 5px 0;
}

#filterSelect select{
  margin: 0 0 0 5px;
}


.nameFilterInput input{
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

#compareContainer{
  width: 90%;
  margin: 0 5% 0 5%;
  height: 500px;
  border: 1px solid black;
}
#compareListContainer{
  font-family: Arial, sans-serif;
  text-align: center;
  width: 30%;
  float:left;
  height: 500px;
  background-color: lightgray;
  border: 1px solid black;
}
#compareListButton button{
 width: 50%;
 height: 50px;
 border-radius: none;
}
#compareListEntry{
  padding: 10px 0 0 0;
}

#graphOption{
  width: 70%;
  height: 50px;
  float: left;
}
#graphOption button{
  font-family: Arial, sans-serif;
  width: 33.33%;
  height: 50px;
  border-radius: none;
}

#compareGraph{
  width: 70%;
  height: 450px;
  background-color: lightgray;
  float: left;
}

.graph-btn-group button{
  font-family: Arial, sans-serif;
  border-bottom:none;
  background-color: none;
}

#GroupCompareCanvas{
  background-color: white;
  height: 800px;
  width: 100%;
}

#home_text{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  color:white;
  text-align: center;
  display: block;
  padding-top: 10vw;

}

#summaryCanvas{
  background-color: white;
  width: 100%;
  min-height: 800px;
  height: auto;
  padding: 15px;
}

#summaryCanvas h1{
  padding: 10px;
}

#summaryTableCanvas table tr td{
  padding: 0 15px 0 15px;
  border: 1px solid black;
}

#linkcanvas ul{
  background-color: white;
  padding: 15px;
}

#singleSummaryCanvas{
  padding: 15px;
  background-color: white;
  min-height: 800px;
  height: auto;
}

#comparisonDirectButton{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.backButton{
  margin: 5px 0 15px 15px;
}
